.searching-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .searching-bar form {
    display: flex;
    align-items: center;
  }
  
  .searching-bar select {
    margin-right: 10px; /* Khoảng cách giữa select và input */
  }
  
  .searching-bar button {
    margin-left: 10px; /* Khoảng cách giữa input và button */
  }