#root {
  max-width: 1140px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/*----------main container----------*/
.top-anime-table-container{
  width: 1140px;
  margin: 0 auto;
}

.top-header{
  text-align: left;
}

table {
  border-collapse: collapse;
}

/*-------------thead--------------*/

.tablehead{
  background-color: rgba(0, 132, 255, 0.96);
  color: white;
  text-align: 15px;
  border-bottom: 2px solid rgba(0, 132, 255, 0.96);
}

.head-poster{
  width: 10%;
  border-left: 2px solid rgba(0, 132, 255, 0.96);
  border-right: 2px solid;
}

.head-title{
  width: 30%;
  border-right: 2px solid;
}

.head-genre{
  width: 40%;
  border-right: 2px solid;
}

.head-status{
  width: 10%;
  border-right: 2px solid;
}
.head-episodes{
  width: 10%;
  border-right: 2px solid rgba(0, 132, 255, 0.96);
}


/*-------------tbody------------*/

.tablebody tr:nth-child(even) {
  background-color: #f5f5f5ea;
}
.tablebody tr:nth-child(odd) {
  background-color: white;
}

.tablebody tr td{
  border-right: #e5e5e5 2px solid ;
  border-left: #e5e5e5 2px solid ;
  border-bottom: #e5e5e5 2px solid;
  height: 170px;
}

.body-poster-img{
  width: 120px;
  height: auto;
}

.body-poster{
  position: relative;
}

.hover-info{
  background-color: #fff;
  display: none;
  border: #1c439b 2px solid;
  box-shadow: 0 0 10px #291c9b;
  border-radius: 25px;
  width: 350px;
  height: 150px;
  text-align: left;
  margin-left: 10px;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 100;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hover-info h3{
  background-color: #1c439b;
  font-size: 16px;
  color: white;
  padding-left: 3px;
}

.hover-info p{
  padding-left: 3px;
  padding-right: 3px;
  line-height: 3px;
  font-size: 14px;
  color: black;
  
}

.body-poster:hover .hover-info{
  display: block;
}

.pagination-buttons{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}







