.register-field {
    display: flex;
    align-items: center;
  }
  
  .register-field a {
    margin-right: 8px;
  }
  
  .memcho-icon {
    width: 40px; /* Điều chỉnh kích thước hình ảnh nếu cần */
    height: 40px;
  }
  