.profile-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 800px; /* Điều chỉnh độ rộng tối đa nếu cần */
    height: 500px;
}

.profile-tabs{
    margin-top: 20px;
}

.profile-card {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 100% !important;
    max-width: 600px !important; /* Điều chỉnh độ rộng tối đa nếu cần */
}

.useravatar{
    border: 2px solid #2e51a2;
    margin: 0 auto;
    margin-top: 16px;
    margin-bottom: -20px;
}

.username::after{
    content: " ";
    display: block;
    width: 250px;
    height: 2px;
    background-color: rgba(15, 19, 19, 0.514);
    margin: 0 auto;
}

.profile-details{
    margin: 0 auto;
    width: 200px;
    text-align: left;
}

.userlist .ant-table-container{
    width: 800px;
}

.useravatar2{
    border: 2px solid #2e51a2;
    width: 50px;
    height: 50px;
}
